/*  ***************************************************************************  */
@media only screen and (orientation: landscape) {
   body {
      background-color: red;
   }
   #fldContent {
      margin-left: 5%; margin-right: 5%;
   }
   .imgTest {
      border-radius: 80px;
   }
   #souDiv-1 {
      float: left;
   }
   #souDiv-2 {
      float: right;
   }
}
/*  ***************************************************************************  */

/*  ***************************************************************************  */
@media only screen and ( orientation: portrait) 
                   and ( min-width: 360px   ) {
   body {
      background-color: yellow;
   }
   #fldContent {
      margin-left: 5%; margin-right: 5%;
   }
   .imgTest {
      border-radius: 50px;
   }
   #souDiv-1 {
      float: left;
   }
   #souDiv-2 {
      float: right;
   }
}
/*  ***************************************************************************  */
