/*  ***************************************************************************  */
@media only screen and (orientation: landscape) {
   body {}
   
   #fldContent {
      margin-left: 5%; margin-right: 5%;
   }
   #divTitre {
      border: solid 1px; border-left-radius: 5%;
   }
   .imgTest {
      border-radius: 180px; width: 100px; heught: 100px; background-color: cyan;
   }
   #souDiv-1 {
      float: left;
   }
   #souDiv-2 {
      float: right;
   }
   #bTitr { text-align: center; }
}
/*  ***************************************************************************  */

/*  ***************************************************************************  */
@media only screen and ( orientation: portrait) 
                   and ( min-width: 360px   ) {
   body {
      background-color: yellow;
   }
   #fldContent {
      margin-left: 5%; margin-right: 5%;
   }
   .imgTest {
      border-radius: 100px; width: 80px; heught: 80px;
   }
   #souDiv-1 {
      float: left;
   }
   #souDiv-2 {
      float: right;
   }
}
/*  ***************************************************************************  */
