@media only screen and (orientation: landscape) {
   body {
      background-color: red;
   }
   #fldContent {
      margin-left: 5%; margin-right: 5%;
   }
   #souDiv-1 {
      float: left;
   }
   #souDiv-2 {
      float: right;
   }
}
